@import '../../../sass/mixins.scss';
@import '../../../sass/variables.scss';

.search-container {
  .search-field {
    height: 53px;
    border-radius: 0px;
  }

  .input-group > .custom-file, .input-group > 
  .custom-select, .input-group > .form-control, 
  .input-group > .form-control-plaintext {
    box-shadow: none;
  }
}

.lists-container {
  padding-left: 7.5px;
  padding-top: 7.5px;
  .static-lists-container, .list-items-container {
    .list-item-wrapper {
      display: flex; 
      height: 40px;

      &:hover { background-color: $focus-link-color; }
      .list-link {
        display: flex;
        width: 100%;
        text-decoration: none;

        .list-text {
          @include hideTextWhenOverflow;
          color: #000;
          font-size: $small-font-size;
          padding-left: 7.5px;
          line-height: 40px;
        }
      }

      .list-counts-wrapper {
        display: flex;
        position: absolute;
        right: 0%;
        padding-left: 7px;
        padding-top: 7.5px;
        padding-right: 7px;
        margin-right: 7.5px;

        .todo-count-text {
          font-size: $extra-small-font-size;
          color: rgb(124, 124, 124);
          vertical-align: middle;
          line-height: 25px;
        }

        .overdue-todo-count-text {
          padding-right: 10px;
          color: rgb(192, 22, 22);
          font-weight: 600;
        }
      }
    }
  }

  .folder-items-container {
    padding-left: 5px;
    
    .folder-container {
      display: flex;
      width: 100%;
      height: 40px;
      position: relative;
  
      &:hover { background-color: $focus-link-color; }
      .folder-text {
        font-size: $small-font-size;
        padding-left: 10px;
        margin-top: 12px;
      }

      .folder-modification-wrapper {
        position: absolute;
        right: 0%;
        padding-left: 7px;
        padding-top: 7.5px;
        padding-right: 25px;
      }

      .folder-dropdown-wrapper {
        .dropdown-btn {
          position: absolute;
          right: 5%;
          padding-top: 8.5px;
        }
      }
    }
  }
}

.create-buttons-container {
  position: absolute;
  bottom: 1.5%;
  width: 100%;
  .create-list-wrapper, .create-folder-wrapper {
    margin-bottom: 7.5px;

    .link, .link:hover {
      text-decoration: none;
    }

    .create-text {
      display: inline;
      font-size: $small-font-size;
      margin-left: 5px;
      vertical-align: middle;
    }
  }
}
