html, body {
  width: 100%;
  margin: 0;
}

#app-container {
  height:100vh;
  width: 100%; 
  max-width: 3840px;
}

.list-panel-container, .todo-panel-container {
  padding-right: 0px;
  padding-left: 0px;
  height:100vh;
}

.todo-panel-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('../../../assets/background-images/eiffel.jpg');
}


