#app-container {
  max-width: 1575px;
  max-height: 1575px;
  width: auto;
  padding: 0;
  margin: 0;
}

.panel-container {
  height: 750px;
  padding: 0px;
}


.todo-panel-container {
  height: 800px;
  background-image: url(../../../assets/eiffel.jpg);
}