* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#app-container {
  padding: 0;
  margin: 0;
  max-width: 1600px;
  max-height: 1600px;
}

.panel-container {
  width: 314.5px;
  min-width: 314.5px;
  height: 800px;
  padding: 0px;
}

.todo-panel-container {
  right: 0%;
  width: 1275.5px;
  height: 800px;
  max-height: 2000px;
  background-image: url(../../../assets/eiffel.jpg);
}


