#app-container {
  height:100vh;
  max-width: 3840px;
  font-family: 'Nunito', sans-serif;

  hr {
    height: 0px;
    border: none;
    border-top: 1px solid rgb(197, 197, 197);
  }

  .list-panel-container, .todo-panel-container {
    height: 100vh;
    padding: 0;
  }

  .todo-panel-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../../../assets/background-images/eiffel.jpg');
  }
}
