* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    height: 720px;
    position: relative; 
}

.header-title-container {
    display: flex;
}

.elements-panel.col-sm-8 {
    padding-top: 20px;
}

.left-panel {
    border: 1px solid seagreen;
    height: 100%;
    background-color: rgba(189, 189, 190, 0.822);
}

#lists-cont {
    width: 350px;
    margin-top: 50px;
    margin-left: 5px;
}

.elements-panel {
    background-image: url(../assets/eiffel.jpg);
}

#create-panel-col {
    left: 20px;
    bottom: 0;
    position: absolute;
    border: 1px;
}

.col-sm-3 {
    padding-right: 0; 
}

.header-title-box {
    background-color: rgba(189, 189, 190, 0.822);
    border-radius: 1px;
}

.header-btn-box.col-sm-3 {
    padding-left: 0;
}

.add-item-btn {
    display: inline;
}

#selected-list-title {
    padding-left: 10px;
    padding-bottom: 10px;
    color: #fff;
}