.create-list-wrapper, .create-folder-wrapper {
    display: flex;
    padding: 2.5px;
}

h3 {
    display: inline;
    font-weight: normal;
    margin-left: 5px;
}

.create-icon {
    background-color: lightgray;
    
}

.create-list-text {
    margin-top: 5px;
}

.create-icon:hover,
.create-icon:focus {
    background-color: darkgray;
}
