.ReactModal__Content.ReactModal__Content--after-open {
    margin: 0 auto;
    width: 30%;
    height: 30%;
    position: relative;
}

.btns {
    display: flex;
    float: right;
    justify-content: space-around;
    text-align: center;
    margin-top: 10px;
}

.close-btn {
    margin-right: 10px;

}


