.search-container {
    display: flex;
}
.container {
    padding: 0;
    max-width: 100%;
}

.mb-3, .my-3 {
    margin: 0 !important;
}

.form-control {
    height: inherit;
}

.form-control.active.focus,
.form-control.active:focus,
.form-control.focus,
.form-control.focus:active,
.form-control:active:focus,
.form-control:focus {
  outline: 0 !important;
  outline-offset: 0  !important;
  background-image: none  !important;
  -webkit-box-shadow: none !important;
  box-shadow: none  !important;
}
