@import '../../../sass/mixins.scss';
@import '../../../sass/variables.scss';

strong {
  font-weight: 600;
}

.star-ratings {
  display: flex !important;
}

.navbar-container {
  background-color: $navbar-background-color;
  top: 0%;  
  height: 53px;

  .navbar-header {
    @include hideTextWhenOverflow;
    line-height: 53px;
    vertical-align: middle;
    padding-left: 15px;
    font-size: $extra-large-font-size;
    color: $navbar-text-color;
  }

  .navbar-menu-wrapper {
    float: right;
    line-height: 53px;
    padding-right: 15px;
  }
}

.add-todo-container {
  background-color: $add-todo-background-color;
  display: flex;
  position: relative;
  margin-top: 20px;
  border-radius: 5px;
  height: 50px;
  margin-right: 10px;
  margin-left: 20px;
  
  .add-item-btn {
    line-height: 45px;
    .add-icon {
      vertical-align: middle;
      margin: auto;
      display: inline-block;
    }
  }
}

.todo-items-container, .completed-items-container {
  height: auto;
  position: relative;
  margin-top: 35px;
  margin-right: 10px; 

  .todo-item-wrapper, .completed-item-wrapper {
    display: flex;
    border-radius: 5px;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 5px;
    
    .checkbox-btn, .checkbox-filled-btn {
      padding-top: 12px;
      padding-left: 3px;
    }

    .todopanel-todo-link {
      color: black;
      text-decoration: none;
      width: 90%;
      display: flex;

      .todo-item-text, .completed-item-text {
        @include hideTextWhenOverflow;
        width: 85%;
        font-size: $middle-font-size;
        line-height: 50px;
        padding-left: 10px;
      }

      .todo-item-date {
        width: 75px;
        text-align: right;
        font-size: $extra-small-font-size;
        line-height: 50px;
      }
    }


    .star-level-container {
      line-height: 43px;
      padding-right: 10px;
    }

    .completed-item-text {
      text-decoration: line-through;
    }
  }

  .todo-item-wrapper {
    background-color: #fff;
  }

  .completed-item-wrapper {
    background-color: $completed-item-bacground-color;
  }
}

.todo-group-container {
  .todo-items-container {
    height: auto;
    position: relative;
    margin-right: 10px;
    margin-top: 35px;
      
    .todo-item-wrapper, .completed-item-wrapper {
      display: flex;
      border-radius: 5px;
      height: 50px;
      margin-left: 20px;
      margin-bottom: 5px;

      .todopanel-todo-link {
        color: black;
        text-decoration: none;
        width: 90%;
      }

      .checkbox-btn, .checkbox-filled-btn {
        padding-top: 12px;
        padding-left: 3px;
      }
    
      .todo-item-text, .completed-item-text {
        font-size: $middle-font-size;
        padding-left: 10px;
        margin-top: 15px;
      }

      .completed-item-text {
        text-decoration: line-through;
      }

    }

    .todo-item-wrapper {
      background-color: #fff;
    }

    .completed-item-wrapper {
      background-color: rgba(255, 255, 255, 0.432);
    }
  }
}

.not-found-container, .empty-todo-panel-container {
  @include locateDivAtCenter;
  width: 40%;
  top: 100px;
  border-radius: 15px;
  background-color: rgba(226, 204, 204, 0.37);
}

.empty-todo-panel-container {
    top: 250px;
}

.search-img, .empty-list-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.searched-word-text, .empty-list-text {
  color: #000;
  font-size: $large-font-size;
  vertical-align: middle;
  text-align: center;
}

.list-group-tag {
  @include hideTextWhenOverflow;
  font-size: $middle-font-size;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 100px;
}


.add-todo-field {
  height: 50px !important;
}

.add-icon, .add-icon:hover {
  background-color: inherit;
}

.show-completed-btn {
  margin-bottom: 30px;
  margin-left: 22.5px;
}

 

