.todo-container {
  width: 100%;
  height: 100%;
}

.navbar {
  position: absolute;
  top: 0%;
  width: 100%;
}

.navbar-selected-list {
  vertical-align: middle;
  font-size: 18px;
  width: 80%;
  color: #fff;
}

.add-todo-container {
  display: flex;
  position: absolute;
  width: 98%;
  top: 50px;
  height: 35.75px;
}

.add-todo-field {
  height: 40px;
}

.add-item-btn {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.todo-items-container {
  display: inline-block;
  width: 98%;
  height: auto;
  position: absolute;
  top: 125px;
}

.todo-item-container {
  display: flex;
  width: 100%;
  height: 40px;
}

.checkbox-btn {
  display: inline;
  position: absolute;
}

.todo-item-text {
  font-size: 16px;
  font-weight: 500;
  padding-left: 40px;
  color: #fff;
}

.remove-btn {
  display: inline;
}

.completed-items-container {
  position: absolute;
  top: 600px;
  display: inline-block;
  width: 100%;
  height: auto;

}

.completed-item-text {
  text-decoration: line-through;
  color: #fff;
}

.show-completed-btn {

}