.todo-container {
  width: 100%;
  height: 100%;
}

.search-panel-container {
  width: 100%;
  height: 100%;
}

.todo-group-container {
    margin-top: 35px;
    width: 98%;
    height: auto;
    position: relative;
}

.list-group-tag {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.todo-item-container, .completed-items-container {
  margin-bottom:20px;
}

.navbar {
  background-color: #743a14d8;
  top: 0%;  
  width: 100%;
}

.navbar-selected-list {
  vertical-align: middle;
  font-size: 18px;
  width: 80%;
  color: #fff;
}

.add-todo-container {
  background-color: #b18c6ada;
  display: flex;
  position: relative;
  margin-top: 20px;
  width: 97%;
  border-radius: 5px;
  height: 50px;
  margin-left: 20px;
}

.add-item-wrapper {
  padding-top: 12.5px;
  padding-left: 2.5px;
}

.todo-link, .todo-link:hover {
  color: black;
  text-decoration: none;
}

.todopanel-todo-link, .todopanel-todo-link:hover {
  width: 101%;
  color: black;
  text-decoration: none;
}

.search-todo-item-wrapper {
  background-color: rgba(255, 255, 255, 0.432);
  display: flex;
  border-radius: 5px;
  height: 50px;
  width: 97%;
  margin-left: 20px;
  margin-bottom: 5px;
}

.add-todo-field {
  height: 50px;
}

.add-icon, .add-icon:hover {
  background-color: inherit;
}

.todo-items-container {
  margin-top: 35px;
  width: 98%;
  height: auto;
  position: relative;
}

.todo-item-wrapper {
  background-color: #fff;
  display: flex;
  width: 99%;
  border-radius: 5px;
  height: 50px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.todo-item-wrapper:hover {
  background-color: rgba(239, 255, 251, 0.911);
}

.checkbox-btn {
  padding-top: 12px;
  padding-left: 3px;
}

.todo-item-text {
  font-size: 14px;
  font-weight: 200;
  padding-left: 10px;
  margin-top: 15px;
}

.remove-todo-btn {
  position: absolute;
  right: 0%;
  padding-top: 12px;
}

.completed-items-container {
  position: relative;
  margin-top: 30px;

}

.completed-item-wrapper {
  background-color: #fff;
  display: flex;
  width: 50%;
  border-radius: 5px;
  height: 50px;
  margin-bottom: 5px;
}

.show-completed-btn {
  margin-bottom: 30px;
  margin-left: 22.5px;
}

.completed-item-wrapper {
  background-color: rgba(255, 255, 255, 0.432);
  display: flex;
  border-radius: 5px;
  height: 50px;
  width: 97%;
  margin-left: 20px;
  margin-bottom: 5px;
}

.completed-item-text {
  font-size: 14px;
  font-weight: 200;
  padding-left: 10px;
  margin-top: 15px;
  text-decoration: line-through;
}

