@import '../../../sass/mixins.scss';
@import '../../../sass/variables.scss';

#todo-header-first-line {
  margin-top: 0;
}

.todo-header {
  display: flex;
  height: 53px;

  .checkbox-btn { 
    line-height: 53px;
  }

  .todo-item-text {
    @include hideTextWhenOverflow;
    font-size: $middle-font-size;
    padding-left: 10px;
    line-height: 53px;
    height: fit-content;
  }
}

.todo-main-container {
  display: inline-block;
  width: 100%;
  height: auto;
  
  .set-date-container, .set-reminder-container {
    padding-bottom: 5px;

    .due-date-btn {
      margin-right: 10px;
    }

    .reminder-date-btn {
      margin-right: 14px;
      padding-left: 2px;
    }
  }
}

.todo-description-container {
  display: flex;
  width: 100%;
  .todo-icon-wrapper {
    padding-left: 2px;
    padding-right: 11px;
  }
  .todo-description-field {
    resize: none;
  }
}

.set-star-level-container {
  .star-level-input {
    display: flex;
    align-items: center;
  }
}

.add-subtask-container {
  display: flex;
  margin-bottom: 15px;

  .plus-icon-wrapper {
    line-height: 35px;
  }
}

.subtask-items-container {
  .subtask-wrapper {
    display: flex;
    align-items: center;
    height: 40px;

    .subtask-text {
      @include hideTextWhenOverflow;
      font-size: $small-font-size;
      padding-left: 10px;
      padding-top: 8px;
    }

    .remove-btn {
      position: absolute;
      right: 5%;
    }

  }
}
